h1 {
  font-size: 6rem;
  font-weight: lighter;
  text-align: center;
  line-height: 96.5%;
  letter-spacing: 2vw;
  color: var(--primary-colour);
}

h2 {
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--primary-colour);
  letter-spacing: 6vw;
  font-weight: 100;
  text-transform: uppercase;
  transform: translateX(3vw);
  /* word-spacing: 100vw; */
  /* margin-top: 4rem; */
  /* overflow-x: hidden; */
}

.h2__branchTop,
.h2__branchBottom {
  width: 20vw;
  height: auto;
}

.h2__branchTop {
  top: -200px;
  transform: rotate(90deg);
}

.h2__branchBottom {
  bottom: -200px;
  transform: rotate(270deg);
}

.centered {
  text-align: center;
}

/* .h2 .one-word-per-line {
  word-spacing: <parent-width>; 
} */
/* .your-classname {
  width: min-intrinsic;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: table-caption;
  display: -ms-grid;
  -ms-grid-columns: min-content;
} */
h3 {
  color: #5b7c74;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
}

h4 {
  font-size: 3rem;
  font-weight: 300;
  position: relative;
  display: inline;
}

h5 {
  font-size: 2.25rem;
  /* font-weight: semibold; */
  font-weight: var(--font--light);
  margin: 0;
}

h6 {
  font-size: 1.125rem;
  font-weight: normal;
}

.heading__accent {
  /* max-width: 100%; */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* right: 0; */
}

.heading--light {
  color: var(--primary-colour);
}

.heading--dark {
  color: var(--secondary-colour);
}

.heading--garamond {
  font-family: "EB Garamond", serif;
}

.heading--montserrat {
  font-family: "Montserrat", sans-serif;
}

.underlineAccent {
  position: relative;
}

.underlineAccent:nth-child(1)::after {
  position: absolute;
  /* content: url(/public/assets/heading-underline.svg); */
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: -1rem;
  z-index: -1;
  /* left: 0rem;
  right: 0rem; */
}

.light {
  color: var(--primary-colour);
}

@media screen and (min-width: 1024px) {
  .h2__branchTop,
.h2__branchBottom {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .underlineAccent:nth-child(1)::after {
    /* content: url(/public/assets/heading-underline--mobile.svg); */
  }
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 5rem;
    letter-spacing: 2vw;
  }

  h4 {
    font-size: 2.25rem;
  }

  h6 {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1rem;
  }
}
