.gifts {
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  margin-top: 100px;
}
.gifts__subheader {
  max-width: 800px;
  text-transform: none !important;
  padding: 0 1rem;
}
.gifts__content {
  transform: translateY(700px);
  padding-bottom: 700px;
}

@media screen and (max-width: 768px) {
  .gifts {
    min-height: 50vh;
  }
  .gifts__content {
    transform: translateY(20vh);
    padding-top: 40vh;
    padding-bottom: 500px;
  }
}
