.mapItemInfo {
  position: absolute;
  left: 5vw;
  top: 5vh;
  min-width: 400px;
  max-width: 400px;
  height: auto;
  backdrop-filter: blur(1.125rem);
  border: 3px rgba(246, 246, 244, 0.54) solid;
  border-radius: 2rem;
  background: rgba(246, 246, 244, 0.54);
  color: #877964;
}
.mapItemInfo__number {
  font-size: 3rem;
  color: var(--secondary-colour);
  letter-spacing: 0vw !important;
  transform: translateX(0);
}
.mapItemInfo__divider {
  width: 60px;
  height: 2px;
  background: var(--secondary-colour);
}

@media screen and (max-width: 1024px) {
  .mapItemInfo {
    position: unset;
    bottom: -100px;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    backdrop-filter: blur(1.125rem);
    border: 3px rgba(246, 246, 244, 0.54) solid;
    border-radius: 0;
    background: rgba(246, 246, 244, 0.54);
    color: #877964;
  }
  .mapItemInfo__number {
    font-size: 3rem;
    color: var(--secondary-colour);
    letter-spacing: 0vw !important;
    transform: translateX(0);
  }
  .mapItemInfo__divider {
    width: 60px;
    height: 2px;
    background: var(--secondary-colour);
  }
}
