.cardsGrid {
  display: grid;
  grid-template-columns: 30vw 30vw;
  width: 100%;
  justify-content: space-around;
  z-index: 10;
}
.cardsGrid:nth-of-type(odd) {
  transform: translateY(10vh);
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .cardsGrid {
    display: grid;
    grid-template-columns: 45vw 45vw;
    width: 100%;
    justify-content: space-around;
    z-index: 10;
  }
  .cardsGrid:nth-child(odd) {
    transform: translateY(10vh);
  }
}
@media screen and (max-width: 768px) {
  .cardsGrid {
    display: grid;
    grid-template-columns: 80vw;
    width: 100%;
    justify-content: space-around;
    z-index: 10;
  }
  .cardsGrid:nth-child(odd) {
    transform: translateY(10vh);
  }
}
