.dresscode {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  text-transform: uppercase;
}
.dresscode__subheader {
  max-width: 800px;
  text-transform: none !important;
  padding: 0 1rem;
}
.dresscode__content {
  padding-top: 70vh;
}
