.mapItemMarker {
  all: unset;
  position: relative;
  cursor: pointer;
  transition: var(--cubic-transition);

  & svg {
    max-height: 70px;
    width: auto;
  }
  &__number {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 10%;
    font-size: 1.5rem;
    color: white;
  }

  &:hover {
    transform: scale(1.1);
    // box-shadow: 0 0 5px rgba(#000, 0.3);
  }
}

.mapItemPosition {
  position: absolute;
  &--1 {
    top: 45%;
    right: 45%;
  }
  &--2 {
    top: 50%;
    right: 35%;
  }
  &--3 {
    top: 57%;
    right: 25%;
  }
}

@media screen and (max-width: 768px) {
  .mapItemMarker {
    all: unset;
    position: relative;
    cursor: pointer;
    transition: var(--cubic-transition);

    & svg {
      max-height: 40px;
      width: auto;
    }
    &__number {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      top: 10%;
      font-size: 1rem;
      color: white;
    }

    &:hover {
      transform: scale(1.1);
      // box-shadow: 0 0 5px rgba(#000, 0.3);
    }
  }
}

@media screen and (max-width: 450px) {
  .mapItemPosition {
    &--1 {
      top: 35%;
      right: 45%;
    }
    &--2 {
      top: 40%;
      right: 32%;
    }
    &--3 {
      top: 45%;
      right: 22%;
    }
  }
}
