.itemCard {
  min-width: 300px;
  min-height: 500px;
  margin: 2rem;
  background: var(--off-white);
  border-radius: 2rem;
  box-shadow: 0 0.125rem 0.25rem 0 #d8d8d9;
  position: relative;
  border: 4px solid var(--off-white);
  overflow: hidden;
  color: var(--secondary-colour);
  transition: all 250ms ease-in-out;
}
.itemCard:hover {
  box-shadow: 0 0.25rem 0.75rem 0 rgba(65, 65, 65, 0.25);
  transform: translateY(-0.25rem);
}
.itemCard__image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
}
.itemCard__info {
  padding: 1rem;
}
.itemCard__quickInfo:nth-child(2) {
  padding: 0 1rem;
}

@media screen and (max-width: 768px) {
  .itemCard {
    margin: 1rem;
  }
}
