.btn {
  all: unset;
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  transition: cubic-bezier(0.3, 0.4, 0.2, 0.4) all 400ms;
}
.btn-tertiary:hover {
  background: #412e22;
}

.btn-primary,
.btn-primary-link {
  padding: 1rem 5rem;
  font-size: 1.25rem;
  color: #f3f3f3;
  font-weight: var(--font--regular);
  background-image: linear-gradient(to right, #fff 0%, #668882 50%, #fff 100%);
  background-size: 100% auto;
  max-width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

svg:not(:root) {
  overflow: hidden;
}

.btn-secondary {
  padding: 1rem 5rem;
  flex: 1;
  border: 2px solid var(--primary-colour);
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: var(--font--medium);
  color: var(--primary-colour);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: cubic-bezier(0.3, 0.4, 0.2, 0.4) all 400ms;
}
.btn-secondary:hover {
  background: var(--primary-colour);
  color: white;
}

.btn-tertiary {
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  color: #f3f3f3;
  background: var(--secondary-colour);
  font-weight: var(--font--light);
  border-radius: 0.5rem;
  max-width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: cubic-bezier(0.3, 0.4, 0.2, 0.4) all 400ms;
}

@media screen and (max-width: 768px) {
  .btn-primary,
.btn-primary-link,
.btn-secondary {
    padding: 1rem 2rem;
  }
}
